LevelData(
  width: 100,
  height: 25,

  // NOTIZEN NUR FÜR MICH
  // Schloss bei x: 29, y: 15, Schlüssel bei x: 21, y: 7
  //


  rooms: [
    RoomData(x: 2,  y: 3,  width: 4,  height: 5),  // Raum 1
    RoomData(x: 9,  y: 2,  width: 7,  height: 4),  // Raum 2
    RoomData(x: 4,  y: 10, width: 27, height: 4),  // Raum 3
    RoomData(x: 33, y: 1,  width: 7,  height: 17), // Raum 4
    RoomData(x: 18, y: 4,  width: 9, height: 4),   // Raum 5
    RoomData(x: 1,  y: 17, width: 6,  height: 6),  // Raum 6
    RoomData(x: 10, y: 16, width: 6,  height: 3),  // Raum 7
    RoomData(x: 18, y: 17, width: 8,  height: 3),  // Raum 8
    RoomData(x: 36, y: 20, width: 19, height: 3),  // Raum 9
    RoomData(x: 54, y: 13, width: 39, height: 3),  // Raum 10
    RoomData(x: 62, y: 18, width: 4,  height: 5),  // Raum 11
    RoomData(x: 84, y: 21, width: 4,  height: 2),  // Raum 12
    RoomData(x: 58, y: 7, width: 8,  height: 4),   // Raum 13
    RoomData(x: 82, y: 5, width: 5,  height: 5),   // Raum 14
    RoomData(x: 57, y: 1, width: 24,  height: 3),  // Raum 15
    RoomData(x: 71, y: 6, width: 4,  height: 4),   // Raum 14
    


    RoomData(x: 43, y: 1,  width: 7,  height: 17), // Raum x
  ],

  tiles: [
    TileData(x: 7,  y: 5,   tile_type: Hallway),
    TileData(x: 8,  y: 5,   tile_type: Hallway),

    TileData(x: 14, y: 7,   tile_type: Hallway),
    TileData(x: 14, y: 8,   tile_type: Hallway),
    TileData(x: 14, y: 9,   tile_type: Hallway),

    TileData(x: 32, y: 12,  tile_type: Hallway),

    TileData(x: 32, y: 5,   tile_type: Hallway),
    TileData(x: 31, y: 5,   tile_type: Hallway),
    TileData(x: 30, y: 5,   tile_type: Hallway),
    TileData(x: 29, y: 5,   tile_type: Hallway),
    TileData(x: 28, y: 5,   tile_type: Hallway),

    TileData(x: 5,  y: 15,  tile_type: Hallway),
    TileData(x: 5,  y: 16,  tile_type: Hallway),

    TileData(x: 8,  y: 22,  tile_type: Hallway),
    TileData(x: 9,  y: 22,  tile_type: Hallway),
    TileData(x: 10, y: 22,  tile_type: Hallway),
    TileData(x: 11, y: 22,  tile_type: Hallway),
    TileData(x: 11, y: 21,  tile_type: Hallway),
    TileData(x: 11, y: 20,  tile_type: Hallway),

    TileData(x: 12, y: 22,  tile_type: Hallway),
    TileData(x: 13, y: 22,  tile_type: Hallway),
    TileData(x: 14, y: 22,  tile_type: Hallway),
    TileData(x: 15, y: 22,  tile_type: Hallway),
    TileData(x: 15, y: 23,  tile_type: Hallway),
    TileData(x: 16, y: 23,  tile_type: Hallway),
    TileData(x: 17, y: 23,  tile_type: Hallway),
    TileData(x: 18, y: 23,  tile_type: Hallway),
    TileData(x: 18, y: 22,  tile_type: Hallway),
    TileData(x: 19, y: 22,  tile_type: Hallway),
    TileData(x: 20, y: 22,  tile_type: Hallway),
    TileData(x: 21, y: 22,  tile_type: Hallway),
    TileData(x: 22, y: 22,  tile_type: Hallway),
    TileData(x: 23, y: 22,  tile_type: Hallway),
    TileData(x: 23, y: 21,  tile_type: Hallway),

    TileData(x: 24, y: 22,  tile_type: Hallway),
    TileData(x: 25, y: 22,  tile_type: Hallway),
    TileData(x: 26, y: 22,  tile_type: Hallway),
    TileData(x: 27, y: 22,  tile_type: Hallway),
    TileData(x: 28, y: 22,  tile_type: Hallway),
    TileData(x: 28, y: 21,  tile_type: Hallway),
    TileData(x: 28, y: 20,  tile_type: Hallway),
    TileData(x: 29, y: 20,  tile_type: Hallway),
    TileData(x: 30, y: 20,  tile_type: Hallway),
    TileData(x: 30, y: 21,  tile_type: Hallway),
    TileData(x: 30, y: 22,  tile_type: Hallway),
    TileData(x: 31, y: 22,  tile_type: Hallway),
    TileData(x: 32, y: 22,  tile_type: Hallway),
    TileData(x: 33, y: 22,  tile_type: Hallway),
    TileData(x: 34, y: 22,  tile_type: Hallway),
    TileData(x: 35, y: 22,  tile_type: Hallway),

    TileData(x: 56, y: 21,  tile_type: Hallway),
    TileData(x: 57, y: 21,  tile_type: Hallway),
    TileData(x: 58, y: 21,  tile_type: Hallway),
    TileData(x: 59, y: 21,  tile_type: Hallway),
    TileData(x: 59, y: 20,  tile_type: Hallway),
    TileData(x: 59, y: 19,  tile_type: Hallway),
    TileData(x: 59, y: 18,  tile_type: Hallway),
    TileData(x: 59, y: 17,  tile_type: Hallway),

    TileData(x: 60, y: 19,  tile_type: Hallway),
    TileData(x: 61, y: 19,  tile_type: Hallway),

    TileData(x: 29, y: 19,  tile_type: Hallway),
    TileData(x: 29, y: 18,  tile_type: Hallway),
    TileData(x: 29, y: 17,  tile_type: Hallway),
    TileData(x: 29, y: 16,  tile_type: Hallway),
    TileData(x: 29, y: 15,  tile_type: Hallway),

    TileData(x: 64, y: 12,  tile_type: Hallway),
    TileData(x: 65, y: 12,  tile_type: Hallway),
    TileData(x: 66, y: 12,  tile_type: Hallway),
    TileData(x: 67, y: 12,  tile_type: Hallway),
    TileData(x: 68, y: 12,  tile_type: Hallway),
    TileData(x: 69, y: 12,  tile_type: Hallway),
    TileData(x: 70, y: 12,  tile_type: Hallway),
    TileData(x: 71, y: 12,  tile_type: Hallway),
    TileData(x: 72, y: 12,  tile_type: Hallway),

    TileData(x: 57, y: 10,  tile_type: Hallway),
    TileData(x: 56, y: 10,  tile_type: Hallway),
    TileData(x: 56, y: 9,  tile_type: Hallway),
    TileData(x: 56, y: 8,  tile_type: Hallway),
    TileData(x: 56, y: 7,  tile_type: Hallway),
    TileData(x: 56, y: 6,  tile_type: Hallway),
    TileData(x: 57, y: 6,  tile_type: Hallway),
    TileData(x: 58, y: 6,  tile_type: Hallway),
    TileData(x: 59, y: 6,  tile_type: Hallway),
    TileData(x: 60, y: 6,  tile_type: Hallway),
    TileData(x: 61, y: 6,  tile_type: Hallway),
    TileData(x: 62, y: 6,  tile_type: Hallway),
    TileData(x: 63, y: 6,  tile_type: Hallway),
    TileData(x: 63, y: 5,  tile_type: Hallway),
    TileData(x: 64, y: 5,  tile_type: Hallway),
    TileData(x: 65, y: 5,  tile_type: Hallway),
    TileData(x: 66, y: 5,  tile_type: Hallway),
    TileData(x: 67, y: 5,  tile_type: Hallway),
    TileData(x: 68, y: 5,  tile_type: Hallway),
    TileData(x: 69, y: 5,  tile_type: Hallway),
    TileData(x: 70, y: 5,  tile_type: Hallway),
    TileData(x: 71, y: 5,  tile_type: Hallway),
    TileData(x: 72, y: 5,  tile_type: Hallway),
    
    TileData(x: 74, y: 11,  tile_type: Hallway),
    TileData(x: 75, y: 11,  tile_type: Hallway),
    TileData(x: 76, y: 11,  tile_type: Hallway),
    TileData(x: 77, y: 11,  tile_type: Hallway),
    TileData(x: 78, y: 11,  tile_type: Hallway),
    TileData(x: 79, y: 11,  tile_type: Hallway),
    TileData(x: 80, y: 11,  tile_type: Hallway),
    TileData(x: 81, y: 11,  tile_type: Hallway),
    TileData(x: 82, y: 11,  tile_type: Hallway),
    TileData(x: 83, y: 11,  tile_type: Hallway),

    TileData(x: 88, y: 6,  tile_type: Hallway),
    TileData(x: 89, y: 6,  tile_type: Hallway),
    TileData(x: 89, y: 5,  tile_type: Hallway),
    TileData(x: 89, y: 4,  tile_type: Hallway),
    TileData(x: 89, y: 3,  tile_type: Hallway),
    TileData(x: 89, y: 2,  tile_type: Hallway),
    TileData(x: 88, y: 2,  tile_type: Hallway),
    TileData(x: 87, y: 2,  tile_type: Hallway),
    TileData(x: 86, y: 2,  tile_type: Hallway),
    TileData(x: 85, y: 2,  tile_type: Hallway),
    TileData(x: 84, y: 2,  tile_type: Hallway),
    TileData(x: 83, y: 2,  tile_type: Hallway),
    TileData(x: 82, y: 2,  tile_type: Hallway),

    TileData(x: 56, y: 3,  tile_type: Hallway),
    TileData(x: 55, y: 3,  tile_type: Hallway),
    TileData(x: 54, y: 3,  tile_type: Hallway),
    TileData(x: 53, y: 3,  tile_type: Hallway),
    TileData(x: 53, y: 2,  tile_type: Hallway),
    TileData(x: 52, y: 2,  tile_type: Hallway),
    TileData(x: 51, y: 2,  tile_type: Hallway),

    TileData(x: 94, y: 14,  tile_type: Hallway),
    TileData(x: 95, y: 14,  tile_type: Hallway),
    TileData(x: 95, y: 13,  tile_type: Hallway),
    TileData(x: 95, y: 12,  tile_type: Hallway),
    TileData(x: 95, y: 11,  tile_type: Hallway),
    TileData(x: 95, y: 10,  tile_type: Hallway),
    TileData(x: 95, y: 9,  tile_type: Hallway),
    TileData(x: 94, y: 9,  tile_type: Hallway),
    TileData(x: 93, y: 9,  tile_type: Hallway),
    TileData(x: 92, y: 9,  tile_type: Hallway),
    TileData(x: 91, y: 9,  tile_type: Hallway),
    TileData(x: 90, y: 9,  tile_type: Hallway),
    TileData(x: 90, y: 10,  tile_type: Hallway),
    TileData(x: 90, y: 11,  tile_type: Hallway),
    TileData(x: 89, y: 11,  tile_type: Hallway),
    TileData(x: 88, y: 11,  tile_type: Hallway),
    TileData(x: 87, y: 11,  tile_type: Hallway),
    TileData(x: 86, y: 11,  tile_type: Hallway),
    TileData(x: 85, y: 11,  tile_type: Hallway),
    TileData(x: 84, y: 11,  tile_type: Hallway),

    // Maze
    TileData(x: 67, y: 22,  tile_type: Hallway),
    TileData(x: 68, y: 22,  tile_type: Hallway),
    TileData(x: 69, y: 22,  tile_type: Hallway),
    TileData(x: 69, y: 21,  tile_type: Hallway),
    TileData(x: 69, y: 23,  tile_type: Hallway),
    TileData(x: 70, y: 23,  tile_type: Hallway),
    TileData(x: 71, y: 23,  tile_type: Hallway),
    TileData(x: 72, y: 23,  tile_type: Hallway),
    TileData(x: 72, y: 22,  tile_type: Hallway),
    TileData(x: 73, y: 22,  tile_type: Hallway),
    TileData(x: 69, y: 20,  tile_type: Hallway),
    TileData(x: 69, y: 19,  tile_type: Hallway),
    TileData(x: 69, y: 18,  tile_type: Hallway),
    TileData(x: 70, y: 18,  tile_type: Hallway),
    TileData(x: 71, y: 18,  tile_type: Hallway),
    TileData(x: 71, y: 19,  tile_type: Hallway),
    TileData(x: 71, y: 20,  tile_type: Hallway),
    TileData(x: 72, y: 19,  tile_type: Hallway),
    TileData(x: 73, y: 19,  tile_type: Hallway),
    TileData(x: 74, y: 19,  tile_type: Hallway),
    TileData(x: 75, y: 19,  tile_type: Hallway),
    TileData(x: 75, y: 20,  tile_type: Hallway),
    TileData(x: 75, y: 21,  tile_type: Hallway),
    TileData(x: 75, y: 22,  tile_type: Hallway),
    TileData(x: 75, y: 23,  tile_type: Hallway),
    TileData(x: 76, y: 23,  tile_type: Hallway),
    TileData(x: 73, y: 21,  tile_type: Hallway),
    TileData(x: 75, y: 18,  tile_type: Hallway),
    TileData(x: 76, y: 18,  tile_type: Hallway),
    TileData(x: 77, y: 18,  tile_type: Hallway),
    TileData(x: 78, y: 18,  tile_type: Hallway),
    TileData(x: 79, y: 18,  tile_type: Hallway),
    TileData(x: 79, y: 19,  tile_type: Hallway),
    TileData(x: 76, y: 21,  tile_type: Hallway),
    TileData(x: 77, y: 21,  tile_type: Hallway),
    TileData(x: 77, y: 20,  tile_type: Hallway),
    TileData(x: 77, y: 23,  tile_type: Hallway),
    TileData(x: 78, y: 23,  tile_type: Hallway),
    TileData(x: 79, y: 23,  tile_type: Hallway),
    TileData(x: 80, y: 23,  tile_type: Hallway),
    TileData(x: 80, y: 22,  tile_type: Hallway),
    TileData(x: 80, y: 21,  tile_type: Hallway),
    TileData(x: 79, y: 21,  tile_type: Hallway),
    TileData(x: 80, y: 18,  tile_type: Hallway),
    TileData(x: 81, y: 18,  tile_type: Hallway),
    TileData(x: 81, y: 19,  tile_type: Hallway),
    TileData(x: 81, y: 20,  tile_type: Hallway),
    TileData(x: 82, y: 20,  tile_type: Hallway),
    TileData(x: 82, y: 21,  tile_type: Hallway),
    TileData(x: 82, y: 22,  tile_type: Hallway),
    TileData(x: 82, y: 23,  tile_type: Hallway),
    TileData(x: 82, y: 20,  tile_type: Hallway),
    TileData(x: 83, y: 20,  tile_type: Hallway),
    TileData(x: 83, y: 19,  tile_type: Hallway),
    TileData(x: 83, y: 18,  tile_type: Hallway),
    TileData(x: 83, y: 17,  tile_type: Hallway),
    TileData(x: 75, y: 17,  tile_type: Hallway),
    TileData(x: 74, y: 17,  tile_type: Hallway),
    TileData(x: 73, y: 17,  tile_type: Hallway),
    TileData(x: 84, y: 17,  tile_type: Hallway),
    TileData(x: 85, y: 17,  tile_type: Hallway),
    TileData(x: 85, y: 18,  tile_type: Hallway),
    TileData(x: 84, y: 20,  tile_type: Hallway),
    TileData(x: 85, y: 20,  tile_type: Hallway),
    TileData(x: 86, y: 20,  tile_type: Hallway),
    TileData(x: 84, y: 20,  tile_type: Hallway),
    TileData(x: 87, y: 20,  tile_type: Hallway),
    TileData(x: 88, y: 20,  tile_type: Hallway),
    TileData(x: 86, y: 19,  tile_type: Hallway),
    TileData(x: 88, y: 19,  tile_type: Hallway),
    TileData(x: 88, y: 18,  tile_type: Hallway),
    TileData(x: 87, y: 18,  tile_type: Hallway),
    TileData(x: 88, y: 17,  tile_type: Hallway),
    TileData(x: 89, y: 17,  tile_type: Hallway),
    TileData(x: 89, y: 19,  tile_type: Hallway),
    TileData(x: 90, y: 19,  tile_type: Hallway),
    TileData(x: 91, y: 19,  tile_type: Hallway),
    TileData(x: 91, y: 18,  tile_type: Hallway),
    TileData(x: 91, y: 17,  tile_type: Hallway),
    TileData(x: 92, y: 17,  tile_type: Hallway),
    TileData(x: 93, y: 17,  tile_type: Hallway),
    TileData(x: 93, y: 18,  tile_type: Hallway),
    TileData(x: 91, y: 20,  tile_type: Hallway),
    TileData(x: 92, y: 20,  tile_type: Hallway),
    TileData(x: 93, y: 20,  tile_type: Hallway),
    TileData(x: 94, y: 20,  tile_type: Hallway),
    TileData(x: 94, y: 19,  tile_type: Hallway),
    TileData(x: 95, y: 19,  tile_type: Hallway),
    TileData(x: 95, y: 18,  tile_type: Hallway),
    TileData(x: 96, y: 18,  tile_type: Hallway),
    TileData(x: 96, y: 17,  tile_type: Hallway),
    TileData(x: 91, y: 21,  tile_type: Hallway),
    TileData(x: 90, y: 21,  tile_type: Hallway),
    TileData(x: 93, y: 21,  tile_type: Hallway),
    TileData(x: 93, y: 22,  tile_type: Hallway),
    TileData(x: 94, y: 22,  tile_type: Hallway),
    TileData(x: 95, y: 22,  tile_type: Hallway),
    TileData(x: 95, y: 21,  tile_type: Hallway),
    TileData(x: 96, y: 21,  tile_type: Hallway),
    TileData(x: 97, y: 21,  tile_type: Hallway),
    TileData(x: 97, y: 20,  tile_type: Hallway),
    TileData(x: 98, y: 20,  tile_type: Hallway),
    TileData(x: 98, y: 19,  tile_type: Hallway),
    TileData(x: 97, y: 22,  tile_type: Hallway),
    TileData(x: 97, y: 23,  tile_type: Hallway),
    TileData(x: 98, y: 23,  tile_type: Hallway),
    TileData(x: 89, y: 22,  tile_type: Hallway),
    TileData(x: 89, y: 23,  tile_type: Hallway),
    TileData(x: 89, y: 23,  tile_type: Hallway),
    TileData(x: 90, y: 23,  tile_type: Hallway),
    TileData(x: 91, y: 23,  tile_type: Hallway),
    TileData(x: 92, y: 23,  tile_type: Hallway),
    TileData(x: 92, y: 22,  tile_type: Hallway),
    TileData(x: 94, y: 23,  tile_type: Hallway),
    TileData(x: 78, y: 17,  tile_type: Hallway),
    TileData(x: 97, y: 17,  tile_type: Hallway),
    TileData(x: 69, y: 17,  tile_type: Hallway),
    TileData(x: 68, y: 17,  tile_type: Hallway),
    TileData(x: 68, y: 19,  tile_type: Hallway),

    TileData(x: 3, y: 4, tile_type: StairsUp),
    TileData(x: 46, y: 16, tile_type: StairsDown),

    TileData(x: 6, y: 5, tile_type: Door(Archway)),
    TileData(x: 9, y: 5, tile_type: Door(Archway)),
    TileData(x: 14, y: 6, tile_type: Door(Archway)),
    TileData(x: 14, y: 10, tile_type: Door(Archway)),
    TileData(x: 5, y: 14, tile_type: Door(Closed)),
    TileData(x: 5, y: 17, tile_type: Door(Archway)),
    TileData(x: 7, y: 22, tile_type: Door(Archway)),
    TileData(x: 11, y: 19, tile_type: Door(Archway)),
    TileData(x: 23, y: 20, tile_type: Door(Archway)),
    TileData(x: 29, y: 14, tile_type: Door(Archway)),
    TileData(x: 31, y: 12, tile_type: Door(Open)),
    TileData(x: 33, y: 12, tile_type: Door(Open)),
    TileData(x: 33, y: 5, tile_type: Door(Archway)),
    TileData(x: 27, y: 5, tile_type: Door(Closed)),
    TileData(x: 36, y: 22, tile_type: Door(Archway)),
    TileData(x: 55, y: 21, tile_type: Door(Archway)),
    TileData(x: 59, y: 16, tile_type: Door(Archway)),
    TileData(x: 62, y: 19, tile_type: Door(Archway)),
    TileData(x: 66, y: 22, tile_type: Door(Closed)),
    TileData(x: 88, y: 22, tile_type: Door(Archway)),
    TileData(x: 72, y: 13, tile_type: Door(Archway)),
    TileData(x: 64, y: 11, tile_type: Door(Archway)),
    TileData(x: 60, y: 7, tile_type: Door(Archway)),
    TileData(x: 58, y: 10, tile_type: Door(Archway)),
    TileData(x: 72, y: 6, tile_type: Door(Closed)),
    TileData(x: 74, y: 10, tile_type: Door(Closed)),
    TileData(x: 83, y: 10, tile_type: Door(Archway)),
    TileData(x: 87, y: 6, tile_type: Door(Archway)),
    TileData(x: 81, y: 2, tile_type: Door(Archway)),
    TileData(x: 57, y: 3, tile_type: Door(Archway)),
    TileData(x: 50, y: 2, tile_type: Door(Closed)),
    TileData(x: 93, y: 14, tile_type: Door(Archway)),
    TileData(x: 89, y: 19, tile_type: Door(Closed)),
  ],

  entry: Point(x: 3, y: 4),
  exit: Point(x: 46, y: 16),

  spawns: [
    //NPCs
    
    SpawnData(
      x: 4,
      y: 7,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 15,
      y: 5,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 8,
      y: 13,
      kind: Npc(def_id: "cultist"),
    ),

    SpawnData(
      x: 27,
      y: 12,
      kind: Npc(def_id: "slime"),
    ),

    SpawnData(
      x: 3,
      y: 22,
      kind: Npc(def_id: "assassin"),
    ),

    SpawnData(
      x: 14,
      y: 17,
      kind: Npc(def_id: "giant_rat"),
    ),

    SpawnData(
      x: 48,
      y: 21,
      kind: Npc(def_id: "wolf"),
    ),

    SpawnData(
      x: 88,
      y: 22,
      kind: Npc(def_id: "bandit"),
    ),

    SpawnData(
      x: 71,
      y: 15,
      kind: Npc(def_id: "zombie"),
    ),

    SpawnData(
      x: 86,
      y: 14,
      kind: Npc(def_id: "zombie"),
    ),

    SpawnData(
      x: 59,
      y: 8,
      kind: Npc(def_id: "zombie"),
    ),

    SpawnData(
      x: 73,
      y: 8,
      kind: Npc(def_id: "cultist"),
    ),

    SpawnData(
      x: 78,
      y: 3,
      kind: Npc(def_id: "wolf"),
    ),

    SpawnData(
      x: 61,
      y: 2,
      kind: Npc(def_id: "orc"),
    ),

    SpawnData(
      x: 44,
      y: 2,
      kind: Npc(def_id: "wolf"),
    ),

    SpawnData(
      x: 44,
      y: 12,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 48,
      y: 14,
      kind: Npc(def_id: "slime"),
    ),

    SpawnData(
      x: 44,
      y: 17,
      kind: Npc(def_id: "cultist"),
    ),

    SpawnData(
      x: 22,
      y: 6,
      kind: Npc(def_id: "dark_mage"),
    ),

    SpawnData(
      x: 35,
      y: 3,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 39,
      y: 2,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 38,
      y: 4,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 34,
      y: 6,
      kind: Npc(def_id: "funny_frog"),
    ),

    SpawnData(
      x: 93,
      y: 18,
      kind: Npc(def_id: "bandit"),
    ),

    SpawnData(
      x: 97,
      y: 23,
      kind: Npc(def_id: "bandit"),
    ),


    //Items on ground

    SpawnData(
      x: 5,
      y: 7,
      kind: Item(def_id: "food_grapefruit"),
    ),

    SpawnData(
      x: 15,
      y: 3,
      kind: Item(def_id: "food_cake"),
    ),

    SpawnData(
      x: 14,
      y: 13,
      kind: Item(def_id: "food_honey"),
    ),

    SpawnData(
      x: 15,
      y: 17,
      kind: Item(def_id: "food_cheese"),
    ),

    SpawnData(
      x: 20,
      y: 18,
      kind: Item(def_id: "potion_dexterity"),
    ),

    SpawnData(
      x: 19,
      y: 5,
      kind: Item(def_id: "potion_healing_small"),
    ),

    SpawnData(
      x: 20,
      y: 7,
      kind: Item(def_id: "potion_strength"),
    ),

    SpawnData(
      x: 38,
      y: 16,
      kind: Item(def_id: "food_bread"),
    ),

    SpawnData(
      x: 39,
      y: 21,
      kind: Item(def_id: "food_mushroom"),
    ),

    SpawnData(
      x: 53,
      y: 22,
      kind: Item(def_id: "food_apple"),
    ),

    SpawnData(
      x: 64,
      y: 22,
      kind: Item(def_id: "food_cheese"),
    ),

    SpawnData(
      x: 74,
      y: 8,
      kind: Item(def_id: "food_meat"),
    ),

    SpawnData(
      x: 68,
      y: 2,
      kind: Item(def_id: "food_apple"),
    ),

    SpawnData(
      x: 44,
      y: 6,
      kind: Item(def_id: "food_mushroom"),
    ),

    SpawnData(
      x: 49,
      y: 17,
      kind: Item(def_id: "food_fish"),
    ),

    SpawnData(
      x: 85,
      y: 22,
      kind: Item(def_id: "potion_healing_small"),
    ),

    SpawnData(
      x: 87,
      y: 22,
      kind: Item(def_id: "potion_healing_small"),
    ),

    SpawnData(
      x: 24,
      y: 6,
      kind: Item(def_id: "weapon_mace"),
    ),

    SpawnData(
      x: 15,
      y: 18,
      kind: Item(def_id: "armor_chainmail"),
    ),

    SpawnData(
      x: 86,
      y: 22,
      kind: Item(def_id: "weapon_bow_long"),
    ),
  ],
)