WorldData(
  width: 100,
  height: 25,

  rooms: [
    RoomData(x: 10, y: 5, width: 14, height: 9), // Raum 1
    RoomData(x: 35, y: 5, width: 19, height: 11), // Raum 2
    RoomData(x: 65, y: 8, width: 17, height: 9), // Raum 3
    RoomData(x: 12, y: 17, width: 4, height: 4),  // Raum 4
  ],

  tiles: [
    TileData(x: 24, y: 10, tile_type: Door(Archway)), // Raum 1 -> Raum 2
    TileData(x: 25, y: 10, tile_type: Hallway),
    TileData(x: 26, y: 10, tile_type: Hallway),
    TileData(x: 27, y: 10, tile_type: Hallway),
    TileData(x: 28, y: 10, tile_type: Hallway),
    TileData(x: 29, y: 10, tile_type: Hallway),
    TileData(x: 30, y: 10, tile_type: Hallway),
    TileData(x: 31, y: 10, tile_type: Hallway),
    TileData(x: 32, y: 10, tile_type: Hallway),
    TileData(x: 33, y: 10, tile_type: Hallway),
    TileData(x: 34, y: 10, tile_type: Hallway),
    TileData(x: 35, y: 10, tile_type: Door(Archway)),

    TileData(x: 30, y: 11, tile_type: Hallway), // Hallway 1/2 -> Hallway 2/4
    TileData(x: 30, y: 12, tile_type: Hallway),
    TileData(x: 30, y: 13, tile_type: Hallway),
    TileData(x: 30, y: 14, tile_type: Hallway),
    TileData(x: 30, y: 15, tile_type: Hallway),
    TileData(x: 30, y: 16, tile_type: Hallway),
    TileData(x: 30, y: 17, tile_type: Hallway),
    TileData(x: 29, y: 17, tile_type: Hallway),
    TileData(x: 28, y: 17, tile_type: Hallway),
    TileData(x: 27, y: 17, tile_type: Hallway),
    TileData(x: 27, y: 18, tile_type: Hallway),
    TileData(x: 27, y: 19, tile_type: Hallway),


    TileData(x: 39, y: 19, tile_type: Hallway), // Raum 2 -> Raum 4
    TileData(x: 38, y: 19, tile_type: Hallway),
    TileData(x: 37, y: 19, tile_type: Hallway),
    TileData(x: 36, y: 19, tile_type: Hallway),
    TileData(x: 35, y: 19, tile_type: Hallway),
    TileData(x: 34, y: 19, tile_type: Hallway),
    TileData(x: 33, y: 19, tile_type: Hallway),
    TileData(x: 32, y: 19, tile_type: Hallway),
    TileData(x: 31, y: 19, tile_type: Hallway),
    TileData(x: 30, y: 19, tile_type: Hallway),
    TileData(x: 29, y: 19, tile_type: Hallway),
    TileData(x: 28, y: 19, tile_type: Hallway),
    TileData(x: 27, y: 19, tile_type: Hallway),
    TileData(x: 26, y: 19, tile_type: Hallway),
    TileData(x: 25, y: 19, tile_type: Hallway),
    TileData(x: 24, y: 19, tile_type: Hallway),
    TileData(x: 23, y: 19, tile_type: Hallway),
    TileData(x: 22, y: 19, tile_type: Hallway),
    TileData(x: 21, y: 19, tile_type: Hallway),
    TileData(x: 20, y: 19, tile_type: Hallway),
    TileData(x: 19, y: 19, tile_type: Hallway),
    TileData(x: 18, y: 19, tile_type: Hallway),
    TileData(x: 17, y: 19, tile_type: Hallway),
    TileData(x: 39, y: 19, tile_type: Hallway),
    TileData(x: 39, y: 18, tile_type: Hallway),
    TileData(x: 39, y: 17, tile_type: Hallway),

    TileData(x: 55, y: 13, tile_type: Hallway), // Raum 2 -> Raum 3
    TileData(x: 56, y: 13, tile_type: Hallway),
    TileData(x: 57, y: 13, tile_type: Hallway),
    TileData(x: 58, y: 13, tile_type: Hallway),
    TileData(x: 59, y: 13, tile_type: Hallway),
    TileData(x: 60, y: 13, tile_type: Hallway),
    TileData(x: 61, y: 13, tile_type: Hallway),
    TileData(x: 62, y: 13, tile_type: Hallway),
    TileData(x: 63, y: 13, tile_type: Hallway),
    TileData(x: 64, y: 13, tile_type: Hallway),
    
    TileData(x: 12, y: 6, tile_type: StairsDown),
  ],

  entry: Point(x: 11, y: 6),
  exit: Point(x: 12, y: 6),

  spawns: [
    //NPCs

    SpawnData(
      x: 50,
      y: 10,
      kind: Npc(def_id: "goblin"),
    ),

    SpawnData(
      x: 15,
      y: 12,
      kind: Npc(def_id: "funny_frog"),
    ),

    //Items on ground

    SpawnData(
      x: 14,
      y: 19,
      kind: Item(def_id: "weapon_sword_rusty"),
    ),

    SpawnData(
      x: 36,
      y: 8,
      kind: Item(def_id: "armor_leather"),
    ),

    SpawnData(
      x: 37,
      y: 8,
      kind: Item(def_id: "food_cake"),
    ),
  ],
)