(
    width: 100,
    height: 25,
    tiles: [],
    rooms: [
        (
            x: 6,
            y: 3,
            width: 6,
            height: 10,
        ),
        (
            x: 6,
            y: 15,
            width: 6,
            height: 7,
        ),
        (
            x: 18,
            y: 4,
            width: 12,
            height: 5,
        ),
        (
            x: 19,
            y: 12,
            width: 10,
            height: 10,
        ),
        (
            x: 34,
            y: 2,
            width: 8,
            height: 6,
        ),
        (
            x: 35,
            y: 10,
            width: 6,
            height: 11,
        ),
        (
            x: 52,
            y: 9,
            width: 12,
            height: 7,
        ),
        (
            x: 75,
            y: 2,
            width: 6,
            height: 6,
        ),
        (
            x: 75,
            y: 11,
            width: 6,
            height: 9,
        ),
        (
            x: 86,
            y: 10,
            width: 10,
            height: 5,
        ),
    ],
    spawns: [],
)