WorldData(
  width: 100,
  height: 25,

  rooms: [
    RoomData(x: 10, y: 5, width: 15, height: 10),
    RoomData(x: 35, y: 5, width: 20, height: 12),
    RoomData(x: 65, y: 8, width: 18, height: 10),
  ],

  tiles: [],

  spawns: [
    //NPCs

    SpawnData(
      x: 50,
      y: 10,
      kind: Npc(id: "goblin"),
    ),

    SpawnData(
      x: 35,
      y: 7,
      kind: Npc(id: "frog"),
    ),

    //Items on ground

    SpawnData(
      x: 50,
      y: 11,
      kind: Item(id: "weapon_sword_rusty"),
    ),

    SpawnData(
      x: 36,
      y: 8,
      kind: Item(id: "armor_leather"),
    ),

    SpawnData(
      x: 37,
      y: 8,
      kind: Item(id: "food_cake"),
    ),
  ],
)